.footer-bg{
    background-color: #f6f7f9;
}
.footer{
 display: flex;
 justify-content: center;
 align-items: flex-start;
 margin: auto;
 padding-top: 5%;
 padding-bottom: 3%;
 width: 80%;
 
}
.footerOne{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footerTwo{
    width: 15%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footerThree{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footerFour{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footerBody{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footerBody .footerLink{
    text-decoration: none;
}
.copyRight{
    background-color: black;
    padding: 1% 10%;
    color: #7a755c;
}
